/* #colorful #palette is:
* Background: #F5F5F5 (GREY 100)
* Primary Text: black
* Primary color: #3F51B5 (INDIGO)
* Primary color_text : white
* Accent color: #CDDC39 (LIME)
* Accent color_text: black
*/


/* GLOBAL */
* {
    /* #font #faces */
    font-family: 'Roboto', 'Arial', sans-serif;
    /* #margins #paddings */
    margin: 0px;
    padding: 0px;
}
body {
    /* #colorful #background */
    background-color: #F5F5F5;
}
button, a {
    /* #font capital #letters */
    text-transform: uppercase;
}

/* APP BAR */
h1 {
    /* #colourful #app-bar */
    background-color: #3F51B5;
    color: white;
}

/* CHANNEL LIST */
ul {
    /* #nonbullet #channels */
    list-style-type: none;
    /* #colorful #channels */
    background-color: white;
}
.selected-channel {
    /* #highlight #leftborder #selectedchannel */
    border-left: 4px solid #3F51B5;
    /* #highlight #font #selectedchannel */
    color:  #3F51B5;
}
li {
    padding: 16px;
    font-size: 16px;
    box-sizing: border-box;
    height: 48px;
    border-bottom: 1px solid #F5F5F5;
}
li img {
    /* #aligning #buttonsicons */
    vertical-align: middle;
}

/* TAB BAR */
#tab-bar button {
    /* #center #text */
    text-align: center;
    background-color: white;
    border: none;
    font-size: 13px;
    width: 33%;
    height: 72px;
    padding: 16px;
}
#tab-bar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}
.selected {
    border-bottom: 4px solid #3F51B5 !important;
    color:  #3F51B5;
}

/* MESSAGES */
.message {
    width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;
}
.message h3 {
    /* #font #metadata is now medium */
    font-size: medium;
}
.message p {
    /* #colorful #messages */
    background-color: white;
    padding: 16px;
}
.message button {
    /* #colourful #plusfive */
    background-color: #CDDC39;
    color: black;
}
.message em {
    /* #font #remaining overrides the default italic appearance of em elements*/
    font-size: larger;
    font-style: normal;
}
.message a {
    color: black;
}
.ownmessage {
    margin-left: 17%;
}